/* CUSTOM-PROPS */
:root {
  --text-color: #9e9aa8;
  --heading-color: #34313d;
  --accent-color: #2bd0d0;
  --accent-color-hover: #9ae3e3;
  --light-bg: #eff1f7;
  --dark-bg: #232127;
  --error-color: #f46363;
}


/* GOOGLE FONTS */
@font-face {
  font-family: "Poppins";
  src: url("/Fonts/ Poppins-Bold.woff2") format("woff2"),
      url("/Fonts/ Poppins-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("/Fonts/ Poppins-MediumItalic.woff2") format("woff2"),
      url("/Fonts/ Poppins-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("/Fonts/ Poppins-Medium.woff2") format("woff2"),
      url("/Fonts/ Poppins-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}


/* GLOBAL */
html {
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  font-size: 15px;
  font-weight: 500;
  padding: 0;
  margin: 0;
  line-height: 26px;
  font-family: "Poppins", "Arial", sans-serif;
  height: 100%;
  background-color: #fff;
  color: var(--text-color);
}

img {
  max-width: 100%;
  height: auto;
}

/* CONTAINER */
.container {
  width: 100%;
  max-width: 1150px;
  padding-right: 20px;
  padding-left: 20px;
  margin-right: auto;
  margin-left: auto;
}

/* BUTTON */
.button {
  display: inline-block;
  border-radius: 28px;
  border: 0;
  padding: 14px 40px 12px;
  font-size: 20px;
  line-height: 1.5;
  font-weight: bold;
  background-color: var(--accent-color);
  color: #fff;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
}

.button:hover{
  background-color: var(--accent-color-hover);
}

.button:active {
  opacity: 0.6;
}

.button-small {
  padding: 8px 24px;
  font-size: 15px;
  line-height: normal;
}

.button--big {
  padding: 18px 40px 16px;
}

.button--rectangle {
  border-radius : 5px;
}

.button--rectangle {
  border-radius: 10px;
}


/* MAIN-CONTENT */
.main-content {
  flex-grow: 1;
}

/* SITE-HEADER */
.site-header {
  padding-top: 48px;
  padding-bottom: 48px;
  background-color: #fff;
  font-weight: bolder;
  line-height: normal;

}
.site-header__container {
  display: flex;
  align-items: center;
}

.site-header__logo {
  margin-right: 45px;
}


/* LOGO */
.logo {
  display: inline-block;
}

.logo:hover {
  opacity: 0.8;
}

.logo:active {
  opacity: 0.6;
}

.logo__img {
display: block;
height: 33px;
width: 120px;
object-fit: contain;
}

.site-header__sitenav {
  margin-right: auto;
}

.sitenav {

}
.sitenav__list {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}

.sitenav__item:not(:last-child) {
margin-right: 30px;
}

.sitenav__link {
  display: block;
  text-decoration: none;
  color: var(--text-color);
}

.sitenav__link:hover {
  color: var(--text-color);
}

.sitenav__link:active {
  opacity: 0.6;
}

.site-header__auth {
  display: flex;
  align-items: center;
  margin-left: 45px;

}
.site-header__logo-link {
  margin-right: 37px;
  color: var(--text-color);
  text-decoration: none;
}

.site-header__logo-link:hover {
  color: var(--dark-bg);
}

.site-header__logo-link:active {
  opacity: 0.6;
}

/* HERO */

.hero {
  padding-bottom: 222px;
  padding-top: 92px;
  background-image: url(/img/working_with_computer.svg);
  background-repeat: no-repeat;
  background-position: left calc(50% + 476px) top 30px;
}

.hero__inner {
  max-width: 563px;
}
.hero__title {
  margin-top: 0;
  margin-bottom: 5px;
  font-size: 80px;
  font-weight: 700;
  line-height: 90px;
  letter-spacing: -2px;
  color: var(--heading-color);
}

.hero__text {
  margin-top: 0;
  margin-bottom: 40px;
  font-size: 22px;
  line-height: 36px;
}
